<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Chat</title>
  <link rel="icon" href="/images/node-chat-icon.png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="flex flex-row h-screen ove">

    <aside class="bg-slate-700 min-w-96 h-full flex flex-row text-white">
      
      <div class="w-full">
        <div class="flex justify-between m-4">
          <img src="/images/node-chat-logo.png" alt="logo" class="w-24">
          <div onclick="logoutUser()" class="text-2xl cursor-pointer" title="Log Out">⬅️</div>
        </div>

        <!-- contact list -->
        <div class="w-full" id="contactListContainer">
          <!-- <div class="p-3 border-slate-500 border-t border-1 flex flex-row w-full cursor-pointer hover:bg-slate-600 duration-200">
            <div class="rounded-full bg-red-400 h-12 min-w-12 flex justify-center items-center">
              <span class="text-2xl font-semibold">F</span>
            </div>
            <div class="w-full ml-3 ">
              <div class="flex justify-between">
                <div>Fandi</div>
                <div class="text-sm">10:13</div>
              </div>
              <div class="text-sm opacity-75">di mana posisi?</div>
            </div>
          </div> -->
        </div>
      </div>
    </aside>
  
    <main class="bg-slate-500 w-full h-screen flex-col">

      <!-- empty chat thumnail -->
       <div id="emptyChatThumbnail" class="h-screen flex justify-center items-center">
        <div>
          <img src="/images/node-chat-logo.png" alt="logo" class="w-52 mx-auto mb-6">
          <p class="text-xl text-white">Select a contact to start chatting</p>
        </div>
       </div>

      <!-- chat container -->
      <div id="chatContainer" class="w-full hidden overflow-auto bg-slate-500 px-8 pt-4 text-white" style="height: 90%;"></div>
      
      <!-- text input -->
      <div id="textInputContainer" class="bg-slate-800 hidden h-fit flex flex-row py-3 px-8">
        <input type="text" id="textInput" placeholder="Type a message" class="w-full p-2 rounded-md">
        <button onclick="sendMessage()" id="sendMessage" class="bg-yellow-300 hover:bg-yellow-200 p-1 ml-4">
          Kirim
        </button>
      </div>

    </main>

  </div>


<script src="socket.io/socket.io.js"></script>
<script>
  const chatContainer = document.getElementById('chatContainer')
  const textInput = document.getElementById('textInput')

  const emptyChatThumbnail = document.getElementById('emptyChatThumbnail')
  const textInputContainer = document.getElementById('textInputContainer')

  const socket = io()
  socket.on('connect', () => console.log('socket terkoneksi'))

  const getCurrentTime = () => {
    const now = new Date();
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    return `${hours}:${minutes}`;
  }

  const createBubbleChat  = (chat, isSender) => {
    const divContainer = document.createElement('div');
    divContainer.innerHTML = /*html*/`
      <div class="w-full flex ${isSender ? 'justify-end pl-60' : 'justify-start pr-60'}">
        <div class="${isSender ? 'bg-green-700' : 'bg-slate-700'} p-2 mb-3 rounded-md w-fit flex flex-col">
          <span>${chat}</span>
          <span class="text-xs opacity-75 ${isSender ? 'text-left' : 'text-right'}">${getCurrentTime()}</span>
        </div>
      </div>
    `;
    return divContainer
  }

  const sendMessage = () => {
    const bubbleChat = createBubbleChat(textInput.value, true)
    chatContainer.appendChild(bubbleChat)
    socket.emit('send_message', textInput.value)
    textInput.value = ''
    chatContainer.scrollTop = chatContainer.scrollHeight;
  }

  socket.on('new_message', pesan => {
    const bubbleChat = createBubbleChat(pesan, false)
    bubbleChat.classList.add('pesan-new')
    chatContainer.appendChild(bubbleChat)
    chatContainer.scrollTop = chatContainer.scrollHeight;
  })

  // ======== LOGOUT USER =========
  const logoutUser = () => {
    fetch('/api/auth/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      if (data.status === 200) {
        window.location.href = "/login";
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  }

  // ======== GET ALL USERS =========
  const contactListContainer = document.getElementById('contactListContainer')

  const getAllUser = async () => {
    try {
      const response = await fetch('/api/user', {
        method: 'get',
        headers: {
          'Content-Type': 'application/json'
        },
      });

      if (!response.ok) {
        throw new Error('Network response was not ok');
      }

      const data = await response.json();

      // Bersihkan kontainer sebelum menambah elemen baru
      contactListContainer.innerHTML = '';

      // Loop melalui data dan buat elemen untuk setiap email
      data.data.forEach(user => {
        const email = user.email;
        const firstNameInitial = email.charAt(0).toUpperCase();

        const emailDiv = /*html*/`
          <div onclick="getIdUser(${user.id})" class="p-3 border-slate-500 border-t border-1 flex flex-row items-center w-full cursor-pointer hover:bg-slate-600 duration-200">
            <div class="rounded-full bg-red-400 h-12 min-w-12 flex justify-center items-center">
              <span class="text-2xl font-semibold">${firstNameInitial}</span>
            </div>
            <div class="w-full ml-3">
              <div>${email}</div> 
            </div>
          </div>
        `;

        contactListContainer.insertAdjacentHTML('beforeend', emailDiv);
      });
    } catch (error) {
      console.error('Error:', error);
    }
  }

  let idUserForChat = null

  const getIdUser = (id) => {
    idUserForChat = id
    emptyChatThumbnail.classList.add('hidden')
    chatContainer.classList.remove('hidden')
    textInputContainer.classList.remove('hidden')
  }

  window.addEventListener('load', () => {
    getAllUser()
  })
</script>
</body>
</html>