<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Chat</title>
  <link rel="icon" href="/images/node-chat-icon.webp">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="flex flex-row h-screen">

    <aside id="asideBar" class="bg-slate-700 w-full md:w-96 h-full flex flex-row text-white">
      
      <div class="w-full">
        <div class="flex justify-between m-4">
          <img src="/images/node-chat-logo.webp" alt="logo" class="w-24">
          <div class="group relative pt-1.5">
            <div onclick="logoutUser()" class="text-2xl cursor-pointer">⬅️</div>
            <div class="bg-zinc-800 p-2 rounded-md group-hover:flex hidden absolute top-1/2 -translate-y-1/2 -left-2 -translate-x-full">
              <span class="text-zinc-400 whitespace-nowrap">Log Out</span>
              <div class="bg-inherit rotate-45 p-1 absolute top-1/2 -translate-y-1/2 right-0 translate-x-1/2"></div>
            </div>
          </div>
        </div>

        <!-- contact list -->
        <div class="w-full" id="contactListContainer"></div>
      </div>
    </aside>
  
    <main id="mainContainer" class="bg-slate-500 w-full h-screen flex-col hidden md:block">

      <!-- empty chat thumbnail -->
      <div id="emptyChatThumbnail" class="h-screen flex justify-center items-center">
        <div>
          <img src="/images/node-chat-logo.webp" alt="logo" class="w-52 mx-auto mb-6">
          <p class="text-xl text-white">Select a contact to start chatting</p>
        </div>
      </div>

      <div class="w-full bg-slate-800 p-4 block md:hidden">
        <div onclick="backToContactList()" class="text-2xl cursor-pointer">⬅️</div>
      </div>

      <!-- chat container -->
      <div id="chatContainer" class="w-full hidden overflow-auto bg-slate-500 px-8 pt-4 text-white" style="height: 90%;"></div>
      
      <!-- text input -->
      <div id="textInputContainer" class="hidden">
        <div class="bg-slate-800 h-fit flex flex-row pt-3 pb-2 md:pb-2.5 px-8">
          <input type="text" id="textInput" placeholder="Type a message" class="w-full p-2 rounded-md">
          <button onclick="sendMessage()" id="sendMessage" class="hover:bg-black hover:bg-opacity-20 duration-150 rounded-md px-3 py-0 ml-2 text-white text-2xl">
            ➤
          </button>
        </div>
      </div>

    </main>

  </div>


<script src="socket.io/socket.io.js"></script>
<script src="/js/indexScript.js"></script>
</body>
</html>